@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

:root{
  --eerie-black: #1C2321;
  --jungle-green: #49A078;
  --anti-flash-white: #EEEEEE;
  --tropical-indigo: #8B85C1;
  --periwinkle: #D4CDF4;
  --celestial-blue: #058ED9;
  --tiffany-blue: #95D9DA;
  --timberwolf: #E4DFDA;
}

*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.layout-menu{
  width: 350px;
  height: 100vh;
  padding-top: 50px;
  padding-left: 20px;
  background-color: var(--celestial-blue);
}

.layout-wrapper{
  width: 100%;
  padding: 80px;
  background-color: var(--timberwolf);
}

.menu-title{
  font-size: 24px;
  font-weight: bold;
  color: var(--eerie-black);
}

.layout-title{
  font-size: 24px;
  font-weight: bold;
  color: var(--eerie-black);
  border-bottom:1px solid var(--eerie-black);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.page-wrapper{
  background-color: var(--anti-flash-white);
  padding: 20px;
  border-radius: 10px;
}

.menu-tabla{
  font-size: 30px;
  width: 18%;
}

.nuevoAlumno{
  height: 50px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--celestial-blue);
  cursor: pointer;
  text-align:center;
  justify-content: space-between;
}

&.cobro{
  background-color: var(--jungle-green);
}

.subpage-back-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  
  h1 {
    font-size: 2rem;
  }
}

.students-form {
  display: flex;
  width: 100%;
  flex-flow: column;
  
  label {
    font-weight: 600;
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin-bottom: 15px;
  }
  
  .form-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
}